{% extends 'core/base.html' %}
{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
        
        {% if item.image %}
        <!-- Image section -->
        <div class="md:col-span-2 border-2 border-purple rounded-lg overflow-hidden shadow-md">
            <div class="flex justify-center items-center h-96">
                <img src="{{ item.image.url }}" alt="{{ item.name }}"
                     class="max-h-full max-w-full object-contain rounded-md transition-transform duration-300 hover:scale-105" />
            </div>
        </div>
        {% endif %}

        <!-- Info section -->
        <div class="md:col-span-3 bg-gray-100 space-y-4 rounded-lg items-center shadow-md p-6">
            <h1 class="text-4xl font-bold text-gray-800">{{ item.name }}</h1>
            <p class="text-2xl font-semibold text-green-600">Price: ${{ item.price }}</p>
            <p class="text-base text-gray-700 leading-relaxed">{{ item.description }}</p>
            <p class="text-lg font-medium text-gray-600">Category: 
                <span class="text-gray-800 font-semibold">{{ item.category.name }}</span>
            </p>
            <p class="text-lg font-medium text-gray-600">is available: {{item.is_available }} </p>
            {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-gray-200 rounded-lg">
                <h2 class="text-2xl font-semibold text-gray-800">Your Item</h2>
                <p class="text-lg text-gray-700">You are the owner of this item.</p>
                <button class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-300">
                    <a href="{% url 'items:delete' item.id %}">Delete</a>
                </button>
                <button class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-300">
                    <a href="{% url 'items:edit' item.id %}">Update</a>
                </button>
            </div>
            {% else %}
            <button class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-300">
                <a href="{% url 'message:new' item_pk=item.id %}">Message</a>
            </button>
            {% endif %}
        </div>

    </div>


    <!-- Related items-->
    <div class="mt-8">
        <h2 class="text-3xl font-bold text-gray-800 mb-4 text-center">Related Items</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for related_item in related_items %}
            <div class="bg-white border border-gray-200 rounded-lg shadow-md p-4">
                <img src="{{ related_item.image.url }}" alt="{{ related_item.name }}"
                     class="w-full h-48 object-cover rounded-md mb-4" />
                <h3 class="text-xl font-semibold text-gray-800">{{ related_item.name }}</h3>
                <p class="text-lg font-semibold text-green-600">Price: ${{ related_item.price }}</p>
                <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">
                    <a href="{% url 'items:detail' related_item.id %}">View Details</a>
                </button>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}